<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='../../assets/stylesheets/application.css' type="text/css"/>
	<script src='../../assets/javascripts/application.js'></script>
	<title>Calculator</title>
</head>
<body id="background" style="background-color:#990000">
    <div id="blackFrame">
    <div id="whitePanel">
        <h1 style="font-family:Arial">Grade Calculator</h1>
        <div id="allContent">
            <h3 id="h3" style="margin-top:5%">Activites</h3>
            <p>Give grades to numeric activities</p>
            <table id="table" border="1">
                <tr id="header">
                    <td>Name</td>
                    <td>Short Name</td>
                    <td>Weight</td>
                    <td>Grade</td>
                    <td>Percent</td>
                </tr>
                <tr>
                   <td>Activity 1</td>
                   <td>A1</td>
                   <td><input name="weight" type="text"></td>
                   <td><input name="mark" type="text">/<input name="total" type="text"></td>
                   <td name="percent"></td>
                </tr>
                <tr>
                   <td>Activity 2</td>
                   <td>A2</td>
                   <td><input name="weight" type="text"></td>
                   <td><input name="mark" type="text">/<input name="total" type="text"></td>
                   <td name="percent"></td>
                </tr>
                <tr>
                   <td>Activity 3</td>
                   <td>A3</td>
                   <td><input name="weight" type="text"></tdgin>
                   <td><input name="mark" type="text">/<input name="total" type="text"></td>
                   <td name="percent"></td>
                </tr>
                <tr>
                   <td>Activity 4</td>
                   <td>A4</td>
                   <td><input name="weight" type="text"></td>
                   <td><input name="mark" type="text">/<input name="total" type="text"></td>
                   <td name="percent"></td>
                </tr>
            </table>
            <h3 id="h3">Result</h3>
            <h3 id="result"></h3>
            <div onclick="getMean()" id="button">MEAN</div>
            <div onclick="getWeighted()" id="button">WEIGHTED</div>
						<div onclick="removeRow()" id="button">REMOVE</div>
						<div onclick="addNewRow()" id="button">ADD</div>
						<div onclick="changeColor()" id="colorChanger">BLUE</div>
        </div>
    </div>
    </div>
</body>
</html>
